<form accept-charset="ISO-8859-1" id="labreins-form" >
    Token: <input id="labreins-private_token" name="private_token" value="" /> (from <a id="labreins-tokensource" href="//gitlab.com/profile/account">/profile/account</a>)<br />
    Ref: <input id="labreins-ref" name="ref" value="master" />
    <textarea name="content" style="background-color: #131313; color: #FFFFFF;  font-size: 125%;height: 400px; width:100%;" ></textarea>
    <br/>
    <input id="labreins-file_path" name="file_path" type="hidden" />
    Commit Message: <input id="labreins-commit_message" name="commit_message" /><br />
    Branch <input id="labreins-branch_name" name="branch_name" value="master" /><br />
    <button type="submit" id="labreins-save" >save</button>
</form>
<div id="successmsg" style="display:none;" >submitted successfully:<pre></pre></div>
<div id="errormsg" style="display:none;" >error occurred while sending:<pre></pre></div>


